// SQL configuration file
// File location: $moddir/addons/amxmodx/configs/sql.cfg

// *NOTE* Linux users may encounter problems if they specify "localhost" instead of "127.0.0.1"
// We recommend using your server IP address instead of its name

// *NOTE* amx_sql_type specifies the DEFAULT database type which admin.sma will use.

amx_sql_host	    "127.0.0.1"
amx_sql_user	    "root"
amx_sql_pass	    ""
amx_sql_db		    "amx"
amx_sql_type	    "mysql"

// Database tables prefix
//
// Default value: "regnick_"
amx_sql_table_prefix "regnick_"

// From which server we load users ?
//
// Default value: "1"
amx_rn_serverid "1"

// In what group we should include new accounts ?
//
// Default value: "0"
amx_rn_groupid "0"

// Users can register from server ?
//
// Default value: "1"
amx_rn_user_reg "1"

// Type of the account you can register in-game (0=global account, 1=server only account)
// Note: Setting this option to "1", all newly created accounts will be added on "amx_rn_serverid" server.
//
// Default value: "0"
amx_rn_account_type "0"

// Show informational message in HUD to unregistred users ?
//
// Default value: "1"
amx_rn_message "1"

// How often do we show this message ?
//
// Default value: "300.0"
amx_rn_message_time "300.0"

// Where did you installed CStrike-Regnick ?
//
// Default value: "http://www.example.com/regnick/"
amx_rn_message_site "http://www.example.com/regnick/"

